.collapsible {
  background-color: #FF9C33;
  color: white;
  font-weight: bold;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  border-radius: 25px;
}

.active, .collapsible:hover {
  background-color: #EF881A;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #000000;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  font-weight: bold;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button3 {
  background-color: #fe9f3a;
  color: white;
  font-weight: bold;
  border: 2px solid #f44336;
}

.button3:hover {
  background-color: #f44336;
  color: white;
}

.email-box {
  background-color: orange;
  border-radius: 20px;
  border: 3px solid red;
  color: white;
  font-family: 'Courier New', monospace;
  /* padding: 20px; */
  display: inline-block;
  font-weight: bold;
  width: 400px;
  height: 20px;
  text-align: center;
}

.email {
  color: white;
  font-weight: bold;
}

.custom-align {
  text-align: center;
  /* or left, right, or justify */
  /* other styles for the p element go here */
}